{% extends "base.html" %}
{% block title %}{{ page.title }} | {{ AUTHOR }}{% endblock title %}
{% block header %}
    {{ super() }}
      <div class="bg-divider">
      </div>
{% endblock header %}
{% block content %}
        <div class="page">
          <div class="row">
            <div class="span1 pull-right" id="right-margin"></div>
            <article class="span7 pull-right">
              <div class="row">
                <div class="span7 text-center page-title">
                  <h1>{{ page.title }}</h1>
                </div>
              </div>
              <div class="row">
                <div class="span7 page-content">
                  {{ page.content }}
                </div>
              </div>
            </article>
            <div class="span3 offset1 text-center sidebar">
              <h1>10 Free Loops Emailed Every Week</h1>
              <div class="row">
                <div class="span3" id="mc_embed_signup">
                  <form action="{{ MAILCHIMP }}" class="validate" id="mc-embedded-subscribe-form" method=
                  "post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                    <div class="controls mc-field-group">
                      <input class="required email" id="mce-EMAIL" name="EMAIL"
                      placeholder="Enter Email" type="email" value="">
                    </div>
                    <div class="controls mc-field-group">
                      <button class="btn btn-primary" id="mc-embedded-subscribe" type=
                      "submit">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="span3 share-buttons">
                {% include 'share-this-buttons.html' %}
                </div>
              </div>
              <div class="row">
                <div class="span3 twitter-button">
                {% include 'twitter-follow-link.html' %}
                </div>
              </div>
              <section class="samples">
                <div class="row">
                  <div class="span3">
                    <h3>Subscribe now and get instant access to all ## prior weeks!</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="span3">
                    <iframe src="//player.vimeo.com/video/9417906?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
                <div class="row">
                  <div class="span3">
                    <iframe src="//player.vimeo.com/video/19145988?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
                <div class="row">
                  <div class="span3">
                    <iframe src="//player.vimeo.com/video/26941600?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
                <div class="row">
                  <div class="span3">
                    <iframe src="//player.vimeo.com/video/23693563?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
              </section>
            </div> <!-- /sidebar -->
          </div>
        </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  {% include 'twitter-follow-script.html' %}
{% endblock %}
