<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 text-center">
<div class="input-group">
  <input type="search" name="q" value="{{ search.terms }}" placeholder="Enter a search term..." class="form-control" />
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
  </span>
</div>
</div>
