body {
  background: #f4f4f4;
}

header nav {
  padding: 20px 0 20px 0;
  text-align: center;
}

header section,
.bg-divider {
  background-color: #222222;
  background: url("../jpg/bg.jpg?v=0.1.0") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
}

.bg-divider {
  padding: 0;
  height: 5px;
}

header section h1,
header section h2 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

header section h1 {
  font-weight: 400;
  text-shadow: 0 1px 0 #374683;
}

header section h2 {
  font-weight: 300;
}

header section form,
.sidebar form {
  margin: 20px 0 40px 0;
}

header section form input:first-child,
.sidebar form input:first-child {
  background: white;
  color: black;
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 300px;
  border-radius: 4px;
  height: auto;
  padding: 11px 5px;
  margin-bottom: 0;
}

header section form input:first-child:focus,
.sidebar form input:first-child:focus  {
  outline: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(82, 168, 236, 0.6) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(82, 168, 236, 0.6) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(82, 168, 236, 0.6) 0 0 8px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

header section form .btn-primary,
.sidebar form .btn-primary {
  padding: 13px 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 200px;
  border-radius: 4px;
  color: white;
  border: 1px solid #613e12;
}

.share-buttons {
  margin-bottom: 10px;
}

.content {
  padding: 10px 0 60px;
}

.samples h3 {
  text-align: center;
}

.sampels ul {
  padding: 10px 0 0 0;
}

.samples li {
  text-align: center;
  color: white;
}

.samples iframe {
  background-color: #222;
  height:123px;
  width:220px;
  border: 0;
}

.sidebar .samples iframe {
  height: 90px;
  width: 160px;
}

.page {
  margin: 50px 0 0 0;
}

.page article {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #ececec;
  padding: 0 10px;
  margin: 0 -10px;
}

.page-content {
  font-size: 16px;
  line-height: 30px;
}

.contact-message {
  width: 600px;
}

.sidebar {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 0 0 0;
  background: #ececec;
}

.sidebar h1 {
  font-size: 30px;
}

.sidebar form input:first-child {
  width: 180px;
}

.sidebar form .btn-primary {
  margin-top: 10px;
  width: 150px;
}

footer {
  background: #ececec;
  color: #666;
  font-weight: bold;
  text-align: center;
}
footer ul, footer li {
  float: none;
  position: relative;
}

footer ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  color: #666;
}

footer ul li a:hover {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


/*============================================================================*
 * MEDIA QUERIES
 *============================================================================*/
/* Large desktop */
@media (min-width: 1200px) {
  .sidebar form input:first-child {
    width: 225px;
  }

  .samples iframe {
    height:152px;
    width:270px;
  }

  .sidebar .samples iframe {
    height:123px;
    width:220px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .sidebar form input:first-child {
    width: 150px;
  }

  .samples iframe {
    height: 90px;
    width: 160px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  header section,
  .bg-divider {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  header section form .btn-primary {
    width: 100px;
  }

  .sidebar form input:first-child {
    width: 300px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  header section,
  .bg-divider {
    background: #222;
  }

  header section form input:first-child,
  .sidebar form input:first-child {
    width: 250px;
  }

  header section form .btn-primary {
    width: 200px;
  }

  header section form .btn-primary,
  .sidebar form .btn-primary {
    margin-top: 10px;
  }

  footer {
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
}
