<!-- Login Form -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <header class="page-header">
      <h1 class="text-center">Login</h1>
    </header>


    <div class="recover-toggle">
      {% include 'login' %}
    </div> <!-- End Recover Toggle Div -->

    <!-- Recover Password Form -->
    <div class="recover-toggle" style="display: none;">
      {% form 'recover_customer_password' %}

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Forgotten Password</h3>
          </div>
          <div class="panel-body">
            Enter your email address, and we'll send you an email with a way to reset your password.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" value="" placeholder="Email" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>

        <hr />
        <p class="text-center">
          <a href="#" onclick="toggleRecoverPasswordForm(); return false;">Never Mind</a>
        </p>
      {% endform %}
    </div>

  </div>
</div>

<script type="text/javascript">
  /**
   * A very simple Javascript function to show/hide the recover password form.
   * Doesn't require jQuery or any other libraries and follows the patterns
   * suggested on the Shopify site.
   */
  function toggleRecoverPasswordForm() {
    var toggleElements = document.getElementsByClassName('recover-toggle');
    for(var i = 0; i < toggleElements.length; i++) {
      toggleElements[i].style.display = (toggleElements[i].style.display == 'none') ? 'block' : 'none';
    }
  }

  if (window.location.hash == '#recover') { toggleRecoverPasswordForm() }
</script>
